@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@700&display=swap');
header {
    display: flex;
    justify-content: space-between;
    padding: 10px 40px;
    background-color: #ffffff;
    color: #85b3ef !important;
    font-family: 'Advent Pro', sans-serif;
    font-size: 4rem;
}
